body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fmyloview.com.br%2Fadesivo-fundo-branco-marmore-textura-da-parede-no-49C9480&psig=AOvVaw1m2D2TDiDZyLn_jXCfZQR0&ust=1743189826617000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCPDo3qr-qowDFQAAAAAdAAAAABAE);
}
.container {
    background: url();
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    text-align: center;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: #218838;
}
a{
    text-decoration: none;
}